*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    background: #000;
    color:#fff;
}

.container{
    padding-top:0;
    max-width:1440px;
    margin: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.active{
    color:rgb(241, 13, 13);
}



a{
    
    text-decoration: none;
    color:#fff;
    transition: 0.5s ease all;
}

img{
    width:100%;
}

.header{
    width:100%;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    position: absolute;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    background-color: rgb(241, 13, 13);
    padding:1rem 1rem;
    font-size: 1rem;
}
.top-nav, .hero img{
    display: none;
}

.hero{
    margin-top:2rem;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

.hero-text{
    min-height:70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding:0.5rem;
    position:relative;
}
.hero-text::after{
    content:'';
    position: absolute;
    background:#000;
    inset: 0;
    z-index: -1;
    opacity: 0.75;
}
.hero-text h1{
    font-size: 1.5rem;
    margin:2rem 0 2rem 0;
}

.hero-text h2{
    font-size: 1rem;
    font-weight: 100;
    margin-bottom:1rem;
}

.portfolio-btn {
    max-width: 40%;
    display: inline-block;
    background-color: rgb(241, 13, 13);
    padding:0.5rem 0.8rem;
    font-size: 0.7rem;
    margin-top:0.5rem;
}

.profile{
    width:50%;
    display: block;
}

.hero p{
    font-size: 1.2rem;
    line-height: 1.2;
}

.footer{
    height: 10vh;
}

.footer-nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li{
    list-style: none;
    margin:1rem ;
    font-size: 0.8rem;
    
}

li i{
    margin:0.5rem;
}

.footer-nav a:hover{
    color: rgb(241, 13, 13);
}

.footer-nav a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-text li{
    font-size: 1.2rem;
    text-align: center;
}

.my-form{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

label{
    margin-top: 1rem;
}

textarea{
    margin-top: 1rem;
}

.submit-btn{
    max-width: 40%;
    display: inline-block;
    background-color: rgb(241, 13, 13);
    padding:0.5rem 0.8rem;
    font-size: 0.7rem;
    border: none;
    color:#fff;
    margin-top: 1rem;
}
.social-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom:0;
    right:0;
}

.social-icons a{
    font-size: 1.2rem;
    margin:0.5rem;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gallery-element{
    margin: 1rem 0;
    width:16rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-position: center;
    background-size: cover;
}

.gallery-element p{
    text-align: bottom;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.8);
    width:100%;
    text-align: center;
    padding:0.5rem 0;
}

.photo-gallery{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    text-align: left;
}

.column {
    flex: 100%;
    max-width: 100%;
  }
  
  .column img {
    margin-top: 0.5rem;
    vertical-align: middle;
    width: 100%;
  }